<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Update Employee</p>
            <p class="fw-italic">Dummy Text</p>

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                   <p class="fw-bold text-danger"> Name : <input placeholder="Name"  type="text" class ="form-control/"></p>

                </div>
                <div class="mb-2">
                    <p class="fw-bold text-danger"> Mobile : <input placeholder="Name"  type="text" class ="form-control/"></p>
 
                 </div>
                 <div class="mb-2">
                    <p class="fw-bold text-danger"> Office : <input placeholder="Name"  type="text" class ="form-control/"></p>
 
                 </div>
                 <div class="mb-2">
                    <p class="fw-bold text-danger"> DOB : <input placeholder="Name"  type="text" class ="form-control/"></p>
 
                 </div>
                 <div class="mb-2">
                    <p class="fw-bold text-danger"> DOJ : <input placeholder="Name"  type="text" class ="form-control/"></p>
 
                 </div>
                 <div class="mb-2">
                   <input   type="submit" value="Create" class ="btn btn-danger">
                    <a class="btn btn-dark ms-2" routerLink="/">Close </a>
                 </div>
            </form>

        </div>
        <div class="col-sm-4">
            <img alt=""
src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQReKDfAvvCuxNIHCD4tZpodoS3tlQUVok7yQ&usqp=CAU" class="contact-img">        </div>
    </div>
</div>